<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=|DataDirectory|..\..\DataFiles\BlogDB.s3db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>

  <AppSettings>
    <add Key="KeyName" Value="ValueName"/>
    <add Key="TimeOut" Value="1000"/>
  </AppSettings>

<DBConnections>
  <add Name="sqlite" DBType="dbNativeSqlite" Server="DataFiles\BlogDB.s3db" Database="" UserName=""
    Password=""/>
</DBConnections>



</configuration>