<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=|DataDirectory|kural.s3db;Version=3;"
         providerName="System.Data.SQLite" />
  </connectionStrings>

<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0"/>
  <requiredRuntime version="v4.0.20506"/>
</startup>
  <appSettings>
  </appSettings>

</configuration>
